<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mattseipel.happyslappyfuntime.app" >

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Blockade2D"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mattseipel.happyslappyfuntime.app.MainActivity"
            android:label="Blockade2D"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mattseipel.happyslappyfuntime.app.GameplayActivity"
            android:label="@string/title_activity_gameplay"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>
